body {
    padding-top: 50px;
    background-color: #f8f9fa;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dark-mode {
    background-color: #343a40;
    color: #f8f9fa;
  }
  
  .dark-mode .navbar {
    background-color: #495057;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
  }
  